.Home {
    background-color: white;
    width: 50%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .AddUser {
        width: fit-content;
        align-self: flex-end;
        button {
            padding: 20px;
            border: none;
            background-color: palevioletred;
            color: white;
            cursor: pointer;
        }
    }

    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;

        thead {
            tr{
                th {
                    padding: 10px;
                    color: white;
                    background-color: blue;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px;
                    text-align: center;

                    .Update {
                        background-color: green;
                    }

                    button {
                        padding: 10px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        margin: 0 5px;
                        background-color: red;
                    }
                }   
            }
        }
    }
}